.history-box {
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  min-width: 700px;
  color: black;
  margin: 0 auto;
}

.reuqst-box-text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.old-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.old-table th,
.old-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.old-table th {
  background-color: #dcdcdc;
}

.view-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background: #3498db;
  color: white;
  cursor: pointer;
}

.view-btn:hover {
  background: #217dbb;
}

.view-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}
